:root {
  --body_bg: #fff;
  --body_color: #333;
}
[data-theme="dark"] {
  --body_bg: #282c34;
  --body_color: white;
}

@font-face {
  font-family: myFont1;
  src: url(/Users/original/Desktop/JOBs/jobs-fonts/Dela.ttf);
}
@font-face {
  font-family: myFont2;
  src: url(/Users/original/Desktop/JOBs/jobs-fonts/DM.ttf);
}
* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: helvetica;
}

.logo img {
  width: 150px;
  margin: 10px 50px;
}

body {
  background-color: var(--body_bg);
  color: var(--body_color);
}

/* *************************************** header  ******************************************/

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li a {
  padding: 10px;
  color: #454955;
  letter-spacing: 1px;
  font-size: 14px;
}
.sign{
  display: flex;
  align-items: center;
}
.active {
  color: #058c42; 
}
i{
  padding: 5px;
  margin-left: 3px;
}

/* *************************************** SearchBar  ******************************************/

.searchBar {
  width: 100%;
  height: 200px;
  background-color: #454955;
}

.searchBar .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateY(30px);
}
.searchBar .content p {
  color: #f3eff5;
  font-weight: bold;
  letter-spacing: 3px;
}
.searchBar .content .box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 55%;
  margin-top: 20px;
}
.searchBar .content input[type="text"] {
  padding: 15px;
  outline-style: none;
  border: none;
}
.searchBar .content button {
  padding: 15px;
  background-color: #16db65;
  color: #f3eff5;
  border: none;
  outline-style: none;
  cursor: pointer;
}








/* *************************************** Section  ******************************************/

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section img{
  width: auto;
  height: 200px;
}
.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  margin: 50px 150px ;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.signin-header {
  text-align: center;
  margin-bottom: 20px;
}

.signin-header h2 {
  font-size: 24px;
  font-weight: 600;
}

.signin-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;
  width: 300px;
}

.btn:hover {
  background-color: #eee;
}

.btn.btn-google {
  background-color: #4285f4;
  color: #fff;
}
.btn.btn-google:hover {
  background-color: #005ff7;
  color: #fff;
}

.btn.btn-facebook {
  background-color: #3b5998;
  color: #fff;
}
.btn.btn-facebook:hover {
  background-color: #173a87;
  color: #fff;
}

.or-divider {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.or-divider span {
  font-size: 14px;
  color: #999;
  margin: 0 10px;
}

.email-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.email-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.btn.btn-email {
  background-color: #fff;
  border: 1px solid;
  color: #0d0a0b;
}
.btn.btn-email:hover {
  background-color: #058c42;
  color: #fff;
  transition: all 0.3s ease-in;

}

.terms-and-privacy {
  text-align: center;
  margin-top: 10px;
}


.terms-and-privacy a {
  color: #007bff;
  text-decoration: none;
}








/* *************************************** Footer  ******************************************/
.footer {
  width: 100%;
  height: 90px;
  bottom: 0;
  color: #454955;
}
.footer hr {
  margin: 5px 0;
  border-top: #454955 solid;
  opacity: 0.3;
}
.footer ul {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
}
.footer ul a {
  color: #0d0a0b;
}
.footer select {
  width: 120px;
  float: right;
  transform: translateY(-20px);
  margin-right: 15px;
}
.footer p{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 15px;
}