@font-face{
  font-family: myFont1; 
  src: url(/Users/original/Desktop/JOBs/jobs-fonts/Dela.ttf);
}
@font-face {
  font-family: myFont2; 
  src:url(/Users/original/Desktop/JOBs/jobs-fonts/DM.ttf);
}
*{
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-size: 16px; 
  font-family: myFont2;
  
}

.logo img{
  width: 170px;
  margin: 20px 50px;
}

/* *************************************** header  ******************************************/

.container {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex; 
  align-items: center;
  
}

nav ul{
  display: flex; 
  justify-content: space-between;
  align-items: center;
}
nav ul:first-of-type{
  transform: translateX(-100px);
}
li a{
  font-family: myFont1;
  padding: 10px;
  color: #454955;
  font-size: 18px;
  letter-spacing: 1px;
}

/* *************************************** SearchBar  ******************************************/



.searchBar {
  width: 100%;
  height: 200px;
  background-color: #454955;
  

}

.searchBar .content{
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateY(30px);
}
.searchBar .content p{
  color: #f3eff5;
  font-weight: bold;
  letter-spacing: 3px;
}
.searchBar .content .box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 55%;
  margin-top: 20px;

}
.searchBar .content input[type="text"] {
  padding: 15px;
  outline-style: none;
  border:  none;
}
.searchBar .content button {
  padding: 15px;
  background-color: #16db65;
  color: #f3eff5;
  border: none;
  outline-style: none;
  cursor: pointer;
}




/* *************************************** Footer  ******************************************/
.footer{
  width: 100%; 
  height: 50px; 
  position: fixed;
  bottom: 0;
  color: #454955 ;
}
.footer hr{
  padding: 5px 0 0;
  border-top: #454955 solid ;
  opacity: 0.3;
}
.footer ul{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
}
.footer ul a {
  color: #0d0a0b;
}
.footer select{
  width: 120px;
  float: right;
  transform: translateY(-20px);
  margin-right: 15px;
}